*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: rgb(252, 233, 255);
}
h1{
    margin: 1rem 0;
    font-size: 3rem;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    border: 5px solid black;
    margin: 0.5rem;
}

.boxes{
   margin-top: 2.5rem;
}

.red{
    background-color: rgb(228, 79, 79);
}
.yellow{
    background-color: rgb(251, 210, 0);
}
.blue{
    background-color: rgb(0, 106, 255);
}
.green{
    background-color: rgb(8, 130, 8);
}

.gameflash{
    background-color: white;
}

.userflash{
    background-color: rgb(126, 247, 207);
}

.start{
    font-size: 1.2rem;
    height: 50px;
    width: 120px;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: aqua;
}